# This is an example of the .env file for this project, not the actual .env
# file. Please copy this file to .env and fill in the required values.
# ------------------------------------------------------------------------------
# Can be 'development', 'testing', 'staging', or 'production'
ENVIRONMENT=production

# Database settings
ADA_DB_HOST=
ADA_DB_PORT=
ADA_DB_DBNAME=
ADA_DB_USERNAME=
ADA_DB_PASSWORD=

AEPW_DB_HOST=
AEPW_DB_PORT=
AEPW_DB_DBNAME=
AEPW_DB_USERNAME=
AEPW_DB_PASSWORD=
