# macOS system files
.DS_Store

# Python cache
__pycache__

# Python virtual environment
.venv

# Environment files
.env

# Cache directory (diskcache)
cache

# Results directory
results

# Local files
local
